.homeNav {
  display: flex;
  list-style: none;

  li {
    margin-left: 2rem;
    a {
      text-decoration: none;
      color: inherit;
      font-size: 0.8rem;
    }
  }
  @media screen and (max-width: 750px) {
    display: none;
  }
}
