.header {
  padding: 1.5rem 4rem 0.5rem;
  &__container {
    margin: 0 auto;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media only screen and (max-width: 800px) {
    padding: 1.5rem 2.5rem 0.5rem;
  }
}
